// =============================================================================
// Dashboard PAGE
// =============================================================================

$animation-duration: 0.5s;
$max-heigh: 20rem;

// Layout
// -----------------------------------------------------------------------------
.center {
  text-align: center;
  align-self: center;
}

md-card {
  height: inherit;
  border: .3rem solid $black;
  md-card-content {
    height: 100%;
  }
}

.project {
  span {
    word-break: break-all;
  }
  .project-header {
    margin: 0.5rem;
    span {
      font-weight: bold;
    }
  }
  .project-row {
    height: 4rem;
    margin: 0.5rem;
    outline: none;
    transition: height $animation-duration;

    .contract {
      flex-grow: 0;
      margin-top: auto;
      margin-bottom: auto;
      .build {
        word-break: break-word;
      }
      .state {
        text-transform: capitalize;
      }
    }

    // .expanded {
    // }
    &.selected {
      height: $max-heigh;
    }
    &.accepted, &.complete {
      border: 0.3rem solid $green;
      background: lighten($lightgreen, 30%);
      @include linearGradient(lighten($lightgreen, 30%), $white)
      .contract span {
        color: $green;
      }
    }

    &.rejected, &.fail {
      border: 0.3rem solid $red;
      @include linearGradient(lighten($lightred, 30%), $white)
      .contract span {
        color: $red;
      }
    }

    status-bar {
      &.success .status-bar {
        background: $green
      }
      &.error .status-bar {
        background: $red
      }
    }
  }
}
