// =============================================================================
// Dashboard PAGE
// =============================================================================

$animation-duration: 0.5s;
$max-heigh: 20rem;

// Layout
// -----------------------------------------------------------------------------
.center {
  text-align: center;
}

md-card {
  height: inherit;
  border: .3rem solid green;
  md-card-content {
    height: 100%;
  }
}

.project {
  span {
    // margin-top: auto;
    // margin-bottom: auto;
    // padding: 0 0.5rem;
    word-break: break-all;
  }
  .project-header {
    margin: 0.5rem;
    span {
      font-weight: bold;
    }
  }
  .project-row {
    height: 4rem;
    margin: 0.5rem;
    transition: height $animation-duration;

    .contract {
      flex-grow: 0;
      .state {
        text-transform: capitalize;
      }
    }

    .expanded {
      .metrics {
        .arrow span {
          font-size: x-large;
          display: block;
          margin-top: -3rem;
          margin-bottom: 1rem;
        }
      }
      .build {

      }
    }
    &.selected {
      height: $max-heigh;
      // align-items: initial;
      // span {
      // margin-top: 0.5rem;
      // }
    }
    &.accepted, &.complete {
      border: 0.3rem solid $green;
      background: lighten($lightgreen, 30%);
      @include linearGradient(lighten($lightgreen, 30%), $white)
      .contract span {
        color: $green;
      }
    }

    &.rejected, &.fail {
      border: 0.3rem solid $red;
      @include linearGradient(lighten($lightred, 30%), $white)
      .contract span {
        color: $red;
      }
    }

    status-bar {
      &.success .status-bar {
        background: $green
      }
      &.error .status-bar {
        background: $red
      }
    }
  }
}
