<div class="project">
  <div class="project-header" layout="row" layout-align="center center">
    <span flex="15">
      <div class="center">
        Changelist / Build
      </div>
    </span>
    <span flex="15">
      <div class="center">Owner</div>
    </span>
    <span flex="20">
      <div class="center">
        Time started
      </div>
    </span>
    <span flex="10">
      <div class="center">
        State
      </div>
    </span>
    <span flex="10">
      <div class="center">
        Metrics
      </div>
    </span>
    <span flex="10">
      <div class="center">
        Build
      </div>
    </span>
    <span flex="10">
      <div class="center">
        Unit Test
      </div>
    </span>
    <span flex="10">
      <div class="center">
        Functional Test
      </div>
    </span>
  </div>

  <div class="project-row"
    ng-repeat="project in DashboardCtrl.projects"
    ng-class="{ 'selected': project.isSelected, '{{::project.state}}': project.state }"
    ng-click="DashboardCtrl.expand(project)"
    layout="column">

    <div class="contract" layout="row" flex layout-align="center center" >
      <!-- layout-align="centercenter" -->
      <span flex="5">
        <i class="material-icons md-36">{{::project.icon}}</i>
      </span>
      <span flex="10">{{::project.name}}</span>

      <span flex="15">
        <div class="center">{{::project.owner}}</div>
      </span>
      <span flex="20">
        <div class="center">
          {{::project.time}}
        </div>
      </span>
      <span class="state" flex="10">
        <div class="center">
          {{::project.state}}
        </div>
      </span>
      <span flex="10">
        <status-bar ng-class="{ 'success': {{project.metrics.success}},
                                'error': {{project.metrics.error > 5}} }">
        </status-bar>
      </span>
      <span flex="10">
        <status-bar ng-class="{ 'success': {{project.build.success}},
                                'error': {{project.build.error > 5}} }">
        </status-bar>
      </span>
      <span flex="10">
        <status-bar ng-class="{ 'success': {{project.unitTest.success}},
                                'error': {{project.unitTest.error > 5}} }">
        </status-bar>
      </span>
      <span flex="10">
        <status-bar ng-class="{ 'success': {{project.functionalTest.success}},
                                'error': {{project.functionalTest.error > 5}} }">
        </status-bar>
      </span>
    </div>
    <div class="expanded" layout="row" flex ng-if="project.isSelected">
      <!-- Metrics -->
      <md-card flex md-theme="default" md-theme-watch class="metrics">
        <md-card-content layout="column" layout-align="space-between">
          <strong>Metrics</strong>
          <div layout="row">
            <div flex class="center">
              <div class="arrow">
                <i class="material-icons md-64"
                  ng-class="::project.metrics.test > 50 ? 'positive' : 'negative'">
                  <!-- random arrow -->
                  {{::project.metrics.test > 50 ? 'arrow_upward' : 'arrow_downward'}}
                </i>
                <span>{{::project.metrics.test}}</span>
              </div>
              <span>Test</span>
            </div>
            <div flex class="center">
              <div class="arrow">
                <i class="material-icons md-64"
                  ng-class="::project.metrics.maintainability > 50 ? 'positive' : 'negative'">
                  {{::project.metrics.maintainability > 50 ? 'arrow_upward' : 'arrow_downward'}}
                </i>
                <span>{{::project.metrics.maintainability}}</span>
              </div>
              <span>Maintainability</span>
            </div>
          </div>

          <div layout="row">
            <div flex class="center">
              <div class="arrow">
                <i class="material-icons md-64 "
                   ng-class="::project.metrics.security > 50 ? 'positive' : 'negative'">
                  {{::project.metrics.security > 50 ? 'arrow_forward' : 'arrow_back'}}
                </i>
                <span>{{::project.metrics.security}}</span>
              </div>
              <span>Security</span>
            </div>
            <div flex class="center">
              <div class="arrow">
                <i class="material-icons md-64"
                  ng-class="::project.metrics.workmanship > 50 ? 'positive' : 'negative'">
                  {{::project.metrics.workmanship > 50 ? 'arrow_forward' : 'arrow_back'}}
                </i>
                <span>{{::project.metrics.workmanship}}</span>
              </div>
              <span>Workmanship</span>
            </div>
          </div>
        </md-card-content>
      </md-card>

      <!-- Build -->
      <md-card flex md-theme="default" md-theme-watch class="build">
        <md-card-content layout="column" layout-align="space-between">
          <strong>Build</strong>
          <div layout="row">
            <div flex class="center">
              <i class="material-icons md-64">bug_report</i>
              Debug
            </div>
            <div flex class="center">
              <i class="material-icons md-64">add_to_queue</i>
              Release
            </div>
          </div>
          <div layout="row" class="center">
            {{::project.build.time}}
          </div>

        </md-card-content>
      </md-card>

      <!-- Unit Test -->
      <md-card flex md-theme="default" md-theme-watch>
        <md-card-content layout="column" layout-align="space-between">
          <strong>Unit Test</strong>
          <div class="" layout="row" layout-align="center center">
            <pie-chart flex data="::project.unitTest" width="125" height="125"
              ng-style="{ 'min-width': '125px'}">
            </pie-chart>
            <span flex class="center">
              <div>{{project.unitTest.percentage}} %</div>
              <div>test passed</div>
            </span>
          </div>

          <coverage-bar title="{{::project.unitTest.coverage + '%'}}" subtitle="code covered">
          </coverage-bar>
        </md-card-content>
      </md-card>

      <!-- Functional Test -->
      <md-card flex md-theme="default" md-theme-watch>
        <md-card-content layout="column" layout-align="space-between">
          <strong>Functional Test</strong>
          <div class="" layout="row" layout-align="center center">
            <pie-chart flex data="::project.functionalTest" width="125" height="125"
              ng-style="{ 'min-width': '125px'}">
            </pie-chart>
            <span flex class="center">
              <div>{{project.functionalTest.percentage}} %</div>
              <div>test passed</div>
            </span>
          </div>

          <coverage-bar title="{{::project.functionalTest.coverage + '%'}}" subtitle="code covered">
          </coverage-bar>
        </md-card-content>
      </md-card>

      <!-- Result -->
      <md-card flex md-theme="default" md-theme-watch class="result">
        <md-card-content layout="column" layout-align="space-between">
          <strong>Result</strong>
          <div layout="column" class="content">

            <span flex class="center">{{DashboardCtrl.actions[project.state].change}}</span>

            <h1 flex class="center">
              {{DashboardCtrl.actions[project.state].description}}
            </h1>

          </div>
          <div layout="row" class="center footer">
            <md-button flex class="md-raised md-primary">
              <i class="material-icons">{{DashboardCtrl.actions[project.state].icon}}</i>
              {{DashboardCtrl.actions[project.state].button}}
            </md-button>
          </div>

        </md-card-content>
      </md-card>
    </div>
  </div>
</div>
