<div class="project">
  <div class="project-header" layout="row" layout-align="center center">
    <span flex="15">
      <div class="center">
        Changelist / Build
      </div>
    </span>
    <span flex="15">
      <div class="center">Owner</div>
    </span>
    <span flex="20">
      <div class="center">
        Time started
      </div>
    </span>
    <span flex="10">
      <div class="center">
        State
      </div>
    </span>
    <span flex="10">
      <div class="center">
        Metrics
      </div>
    </span>
    <span flex="10">
      <div class="center">
        Build
      </div>
    </span>
    <span flex="10">
      <div class="center">
        Unit Test
      </div>
    </span>
    <span flex="10">
      <div class="center">
        Functional Test
      </div>
    </span>
  </div>

  <div class="project-row"
    ng-repeat="project in DashboardCtrl.projects"
    ng-class="{ 'selected': project.isSelected, '{{::project.state}}': project.state }"
    ng-click="DashboardCtrl.expand(project)"
    layout="column">

    <div class="contract" layout="row" flex layout-align="center center" >
      <span flex="5">
        <i class="material-icons md-36">{{::project.icon}}</i>
      </span>
      <span flex="10" class="build">{{::project.name}}</span>
      <span flex="15">
        <div class="center">{{::project.owner}}</div>
      </span>
      <span flex="20">
        <div class="center">
          {{::project.time}}
        </div>
      </span>
      <span class="state" flex="10">
        <div class="center">
          {{::project.state}}
        </div>
      </span>
      <span flex="10">
        <status-bar ng-class="{ 'success': {{project.metrics.success}},
                                'error': {{project.metrics.error > 5}} }">
        </status-bar>
      </span>
      <span flex="10">
        <status-bar ng-class="{ 'success': {{project.build.success}},
                                'error': {{project.build.error > 5}} }">
        </status-bar>
      </span>
      <span flex="10">
        <status-bar ng-class="{ 'success': {{project.unitTest.success}},
                                'error': {{project.unitTest.error > 5}} }">
        </status-bar>
      </span>
      <span flex="10">
        <status-bar ng-class="{ 'success': {{project.functionalTest.success}},
                                'error': {{project.functionalTest.error > 5}} }">
        </status-bar>
      </span>
    </div>
    <div class="expanded" layout="row" flex ng-if="project.isSelected">
      <!-- Metrics -->
      <metrics-card flex title="Metrics"
        test="{{::project.metrics.test}}"
        maintainability="{{::project.metrics.maintainability}}"
        security="{{::project.metrics.security}}"
        workmanship="{{::project.metrics.workmanship}}">
      </metrics-card>

      <!-- Build -->
      <build-card flex title="Build"
        left-icon="bug_report"
        left-title="Debug"
        right-icon="add_to_queue"
        right-title="Release"
        time="{{::project.build.time}}">
      </build-card>

      <!-- Unit Test -->
      <progress-card flex title="Unit Test" data="project.unitTest"
        percentage="{{project.unitTest.percentage}} %"
        description="test passed"
        coverage-title="{{project.unitTest.coverage}} %"
        coverage-subtitle="code covered">
      </progress-card>

      <!-- Functional Test -->
      <progress-card flex title="Functional Test" data="project.functionalTest"
        percentage="{{project.functionalTest.percentage}} %"
        description="test passed"
        coverage-title="{{project.functionalTest.coverage}} %"
        coverage-subtitle="code covered">
      </progress-card>

      <!-- Result -->
      <result-card flex title="Result"
        change="{{DashboardCtrl.actions[project.state].change}}"
        description="{{DashboardCtrl.actions[project.state].description}}"
        icon="{{DashboardCtrl.actions[project.state].icon}}"
        button="{{DashboardCtrl.actions[project.state].button}}">
      </result-card>
    </div>
  </div>
</div>
