// =============================================================================
// COLOR PALETTE
// =============================================================================


// Main Colors
// -----------------------------------------------------------------------------
$primary:          #dff0d8;
$secondary:        #d9edf7;
// -----------------------------------------------------------------------------


// Gray scale
// -----------------------------------------------------------------------------
$black:            rgb(0, 0, 0);
$white:            rgb(255, 255, 255);
// -----------------------------------------------------------------------------
